body{
    margin: 30px 1px 1px 50px;
}

div.orange {
    /*position: relative;*/
    background: #ee8129;
    width: 271px;
    height: 443px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 4px #cee0f0;
}

.orange p {
    font: 300 24px PT sans;
    color: #fff;
    text-align: center;
    padding: 32px;
    text-transform: uppercase;
}

div.white {
    position: absolute;
    top: 118px;
    left: 54px;
    background: #fff;
    width: 263px;
    height: 351px;
    font: 100 24px PT sans;
    color: #35495a;
    text-align: center;
}

p.letter {
    margin: 20px 20px 12px;
}

p.digit {
    font-size: 51pt;
    font-weight: bold;
    margin: 10px 10px 18px;
}

p.digit:before {
    content: '$'; 
    font-size: 0.35em;
    font-weight: 200;
    vertical-align: top;
}

p.digit:after {
    content: 'Monthly';
    font-size: 0.25em;
    font-weight: 200;
    vertical-align: bottom;
}

.white table {
    margin: 10px 2px 2px 10px;
    border: 0px;
    font-size: 16px;
    color: #9ca1a9;
    width: 240px;
    border-collapse: separate;

}

tr {
    border: 1px;
    height: 33px;
    text-align: left;
    background: #edf5fd;
}

td.even {
    background: #f5f5f6;
}

tr:before {
    content: url(.../marker.png);
    color: #97be09;
}
