body{
    margin: 30px 1px 1px 50px;
}

div.orange {
    /*position: relative;*/
    background: #ee8129;
    width: 296px;
    height: 469px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 4px #cee0f0;
}

.orange p {
    font: 300 24px PT sans;
    color: #fff;
    text-align: center;
    padding: 32px;
    text-transform: uppercase;
}

div.white {
    position: absolute;
    top: 118px;
    left: 54px;
    background: #fff;
    width: 288px;
    height: 377px;
    font: 100 24px PT sans;
    color: #35495a;
    text-align: center;
}

p.letter {
    margin: 20px 20px 12px;
}

p.digit {
    font-size: 51pt;
    font-weight: bold;
    margin: 10px 10px 18px;
}

p.digit:before {
    content: '$'; 
    font-size: 0.35em;
    font-weight: 200;
    vertical-align: top;
}

p.digit:after {
    content: 'Monthly';
    font-size: 0.25em;
    font-weight: 200;
    vertical-align: bottom;
}

.white table {
    margin: 5px 2px 2px 15px;
    border: 0px;
    font-size: 16px;
    color: #9ca1a9;
    width: 253px;
    border-collapse: separate;
}

tr {
    border: 1px;
    height: 32px;
    width: 210px;
    text-align: left;
    background: #edf5fd;
}

td.marker {
    width: 43px;
}

td.even {
    background: #f5f5f6;
}

td.marker img {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 21px;
    height: 24px;
}

button {
    width: 252px;
    height: 38px;
    border-color: #ee8129;
    border-radius: 6px;
    background: #ee8129;
    box-shadow: 1px 1px 0px 1px #b3560b;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    outline: none;
}

form {
    margin: 15px 5px 10px 2px;
}

form p {
    margin: 2px 10px 5px 9px;
}



/*td:before {
    content: url(https://github.com/YanaTimofeeva/yanatimofeeva.github.io/tree/master/Lesson_5/task_2/marker.png);
    width: 5px;
    height: 5px;
    /*color: #97be09;
}*/
