@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #f6f9f9;
}

header {
    font-family: 'Lato', sans-serif;
}

header h1 {
    margin-bottom: 10px;
    color: #2e3a4f;
}

header h6 {
    margin-top: 10px;
    margin-bottom: 60px;
    color: #909090;
 }

section.images { 
    margin: 0 auto;
    max-width: 1440px;
    max-height: 551px;
 }

section.images>div.wrapper {
    display: inline-block;
    overflow: hidden;
    width: 360px;
    height: 262px;
    background-color: #2b9ee8;
}

.hover {
    background: #2b9ee8;
    width: 360px;
    height: 262px;
    opacity: 0;
    position: absolute;
    z-index: 2;
}

div.wrapper:hover .hover {
    opacity: 0.7;
}

div.wrapper {
    margin: 8px;
}

input[type="button"] {
    margin: 120px 1px 1px 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-image: url(../img/zoom.png);
}

input[type="button"].chain {
    background-image: url(../img/chain.png);
}
input[type="button"]:active {
    border-color: #2b9ee8;
    box-shadow: inset 1px 1px 1px 1px #575654;
}

/*div.icon {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin: 120px 1px 1px 5px;
    left: -9px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 4px;
}*/

img.bicycle_blue {
    position: relative;
    top: -10px;
}

img.girl { 
    position: relative;
    left: -98px;
}

img.cups_red {
    position: relative;
    top: -63px;
    left: -50px;
}

img.cup {
    position: relative;
    left: -70px;
}

img.bicycle_red {
    position: relative;
    top: -15px;
    left: -60px;
}

img.bicycle_black {
    position: relative;
    top: -3px;
    left: -55px;
}




